body {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-on-bg);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-regular);
}
